* {
   box-sizing: border-box;
}

body{
    margin: 0px;
}
#app-container{
    background-color: lavender;
    width: 100vw;
    height: 100vh;
    padding: 8px;
}

#goose-logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 80px;
}

h1 {
    text-align: center;
}
h3 {
    color: forestgreen;
}
hr {
    width: 60%;
}

form {
    display: block;
    padding: 12px;
}