body{
    box-sizing: border-box;
}
#grid-container{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 50px 30px 1fr 1fr 1fr;
    background-color: rgb(122, 205, 238);
    gap: 8px
}
#grid-container h1{
    grid-column: span 3;
    text-align: center;
    margin: 2px;
}
#grid-container img{

}
/*first child of grid, give a boarder */
#grid-container >*{
    border: 3px solid black;
}
#home {
    grid-column: 1/2;
}
#facts-button{
   grid-column: 3/4;
}
#orca-info{
    grid-column: span 3;
}
#grid-container ol {
    grid-column: span 2;
}